a.big_button {
  position: relative;
  display: block;
  width: 10em;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  color: #fffff0;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 3px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#F03A3A 48%, #EA1502 52%);
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 100px;
}
a.big_button:active {
  top: 4px;
  left: 4px;
  box-shadow: 0 0 0 60px rgba(0,0,0,.1) inset;
}