body {
margin: 0px;
}

.top {
    display: inline-block;
    background: #4d4d4d;
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg);
    -o-transform: skewX(-15deg);
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
   }

.top_nav {
    background: #4d4d4d;
    border-bottom: solid 2px #222222;
   }

.current {
    display: inline-block;
    background: #4169e1;
    padding: 10px;
    -webkit-transform: skewX(-15deg);
    -moz-transform: skewX(-15deg); 
    -o-transform: skewX(-15deg); 
    -ms-transform: skewX(-15deg); 
    transform: skewX(-15deg);
   }
.a_top {
font-size: 8pt;
    color: #fffff0;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    -webkit-transform: skewX(15deg);
    -moz-transform: skewX(15deg); 
    -o-transform: skewX(15deg); 
    -ms-transform: skewX(15deg); 
    transform: skewX(15deg); 
    font-family: Helvetica;
    font-weight: bold;
   }

.a_menu {
    color: #333333;
    display: block;
    padding: 15px 30px;
    text-decoration: none; 
    font-family: Helvetica;
    font-weight: bold;
   }

li:hover {
    background: #4169e1;
   }
li:active {
	background: #0d0d0d;
}

header {
    background: #87CEFA;
    padding: 10px;
    border-bottom:2px solid #333333;
    border-top:2px solid #333333;
    height: 60px;
}

#content {
    width:600px;
    height:100%;
    margin-left: 30%;
    background:#fffff0;
    position:absolute;
    }

menu {
    width:260px;
    height:100%;
    background:#fffff0;
    float:left;
    position:absolute;
    border-right: 2px dashed #222222;
    }


footer {  
    width:100%;
    height:60px;
    background:#87CEFA;
    position:absolute;
    border-top: solid #222222;
bottom: 0;
}